<h2>Template</h2>
<hr>

<ul class="list-group">
    <li *ngFor="let template of templateMenu"
        class="list-group-item mt-1"
        [routerLink]="['template', template.route ]"
        routerLinkActive="active">
        {{ template.text }}
    </li>
</ul>

<h2 class="mt-3">Template</h2>
<hr>

<ul class="list-group">
    <li *ngFor="let template of templateMenu"
        class="list-group-item mt-1"
        [routerLink]="[ 'reactive', template.route ]"
        routerLinkActive="active">
        {{ template.text }}
    </li>
</ul>

<h2 class="mt-3">Validations</h2>
<hr>

<ul class="list-group">
    <li *ngFor="let template of authMenu"
        class="list-group-item mt-1"
        [routerLink]="[ 'auth', template.route ]"
        routerLinkActive="active">
        {{ template.text }}
    </li>
</ul>