<h2>Template</h2>
<hr>

<ul class="list-group">
    <li *ngFor="let template of templateMenu"
        class="list-group-item mt-3"
        [routerLink]="['template', template.route ]"
        routerLinkActive="active">
        {{ template.text }}
    </li>
</ul>
<h2 class="mt-5">Template</h2>
<hr>

<ul class="list-group">
    <li *ngFor="let template of templateMenu"
        class="list-group-item mt-3"
        [routerLink]="[ 'reactive', template.route ]"
        routerLinkActive="active">
        {{ template.text }}
    </li>
</ul>